.CardsContainer{
    
    position: relative;
    border-radius: 20px;
    top: 1rem;
    margin-bottom: 0.4rem;
    display:grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(150px, 1fr)
        );
    gap: 10px;
    scroll-margin:initial;
    overflow-y: scroll;
    overflow-x:none;

  
    
}